@import "tailwindcss";

@theme inline {
  --color-primary: #1a73e8;
  --color-primary-light: #33bbcf;
  --color-primary-dark: #1976d2;
  
  --color-neutral-dark: #1d1d1d;
  --color-neutral-mid: #505050;
  --color-neutral-light: #6b6b6b;
  --color-neutral-bg: #f1f1f1;

  --font-sans: var(--font-poppins);
}

body {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
